#content {
    background-color: #1c1c1c;

    .container-card {
        position: relative;
        left: 0;
        top: -1.875rem;

        .tag{
            background-color: $ms-primary-color;
            color: #FFF;
            width: max-content;
            padding: .9375rem 1.25rem;
            font-weight: 600;
            font-size: 1.375rem;
            margin-bottom: 1.5625rem;
        }

        div.current {

            div.card {
                color: #fff;
                // font-size: .625rem;
                cursor: pointer;
    
                &:hover {
                    scale: 1.1;
                }

                .card-img-top{
                    border-radius: 0;
                }
            }
        }
        
        .load-more {
            display: block;
            background-color: $ms-primary-color;
            color: #FFF;
            padding: .9375rem 3.75rem;
            font-weight: 600;
            font-size: 1rem;
            border: none;
            margin: auto;
            cursor: pointer;

            &:hover{
                background-color: adjust-color($ms-primary-color, $blackness: 30%);
            }
        }
    }

    
}