#details {

    .band {
        background-color: $ms-primary-color;
        height: 5rem;

        .tag-img{
            
            img {
                display: block;
                height: 18.125rem;
                position: relative;
                top: -230px;
                left: 0;
                border: 1px solid #fff;
                // left: 0;
                // top: -1.875rem;
            }
        }
    }

    .stock {
        --bs-border-color: #4D8045;
        background-color: #6AAF5F;
        color: #fff;

        span {
            color: #C3FD9D;
        }

        button {
            color: #fff;
        }
    }

    .adv{
        h3 {
            font-size: 1rem;
        }
    }
}