.sub-menu {
    height: 155px;
    background-color: $ms-primary-color;

    .wrapper {
        height: 100%;

        a {

            &:hover{
                animation: 0.5s infinite alternate bounce;
            }
            
            div {
                color: #fff;
                text-transform: uppercase;
                font-weight: 600;
            }

            img {
                max-width: 3.4375rem;
                max-height: 3.4375rem;
                margin-right: .75rem;
            }
        }
        
    }
}